ion-tab-bar {
  --background: var(--ion-background-color, #fff);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
  border-top: 1px solid var(--ion-color-light-shade);
  padding-bottom: env(safe-area-inset-bottom);
  height: 56px;

  ion-tab-button {
    --color: var(--ion-color-medium);
    --color-selected: var(--ion-color-primary);
    
    ion-icon {
      font-size: 28px;
      margin: 0;
    }
  }
}
