<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!-- Home Tab -->
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <!-- Donasi Tab -->
    <ion-tab-button tab="donasi">
      <ion-icon name="heart"></ion-icon>
    </ion-tab-button>

    <!-- Feed Tab -->
    <ion-tab-button tab="feed">
      <ion-icon name="newspaper"></ion-icon>
    </ion-tab-button>

    <!-- Notifikasi Tab -->
    <ion-tab-button tab="notifikasi">
      <ion-icon name="notifications"></ion-icon>
    </ion-tab-button>

    <!-- Profil Tab -->
    <ion-tab-button tab="profil">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
