<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!-- Home Tab -->
    <ion-tab-button tab="home">
      <ion-icon name="home-outline" class="icon-outline"></ion-icon>
      <ion-icon name="home" class="icon-fill"></ion-icon>
    </ion-tab-button>

    <!-- Donasi Tab -->
    <ion-tab-button tab="donasi">
      <ion-icon name="heart-outline" class="icon-outline"></ion-icon>
      <ion-icon name="heart" class="icon-fill"></ion-icon>
    </ion-tab-button>

    <!-- Feed Tab -->
    <ion-tab-button tab="feed">
      <ion-icon name="grid-outline" class="icon-outline"></ion-icon>
      <ion-icon name="grid" class="icon-fill"></ion-icon>
    </ion-tab-button>

    <!-- Notifikasi Tab -->
    <ion-tab-button tab="notifikasi">
      <ion-icon name="notifications-outline" class="icon-outline"></ion-icon>
      <ion-icon name="notifications" class="icon-fill"></ion-icon>
    </ion-tab-button>

    <!-- Profil Tab -->
    <ion-tab-button tab="profil">
      <ion-icon name="person-outline" class="icon-outline"></ion-icon>
      <ion-icon name="person" class="icon-fill"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
